Bin/
Project/Windows/ShaftEngine/*
Project/Windows/Debug
Project/Windows/Release
Project/Windows/x64
Project/Windows/Win32
Project/Windows/Libs/bgfx/*
Project/Windows/Libs/bimg/*
Project/Windows/Libs/bimg_decode/*
Project/Windows/Libs/bx/*
Project/Windows/Libs/rttr/*
Project/Windows/Libs/brtshaderc/*
Project/Windows/Libs/assimp/*
Project/Windows/Libs/glfw/*
Project/Windows/Libs/IrrXML/*
Project/Windows/Libs/zlib/*
Project/Windows/Libs/bullet/*
Project/Windows/DebugApp/*
!Project/Windows/DebugApp/*.vcxproj
!Project/Windows/DebugApp/*.vcxproj.filters
*.vs/
!Project/Windows/ShaftEngine.sln
!Project/Windows/ShaftEngine/ShaftEngine.vcxproj
!Project/Windows/ShaftEngine/ShaftEngine.vcxproj.filters
!Project/Windows/Libs/*/*.vcxproj
!Project/Windows/Libs/*/*.vcxproj.filters


